:root {
  --transition: 0.35s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-bg-page);
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea {
  font: inherit;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
