@use 'variables' as vars;

@mixin action-text {
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-action;
  font-weight: 600;
  line-height: 1.5;
}

@mixin heading-1 {
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-h1;
  font-weight: 600;
  line-height: 1.05;
}

@mixin heading-2 {
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-h2;
  font-weight: 600;
  line-height: 1.25;
}

@mixin heading-3 {
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-h3;
  font-weight: 600;
  line-height: 1.25;
}

@mixin underline-hover($offset: 0) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: $offset;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform var(--transition);
  }

  &:hover::after,
  &:focus-visible::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  &:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 4px;
  }
}
