$font-family-base: 'Inter', sans-serif;

$font-size-h1: 72px; // Semi Bold 600, line-height 1.05
$font-size-h2: 60px; // Semi Bold 600, line-height 1.25
$font-size-h3: 24px; // Semi Bold 600, line-height 1.25
$font-size-body: 16px; // Regular 400, line-height 1.5
$font-size-action: 16px; // Semi Bold 600, line-height 1.5

$bp-desktop: 1440px;
$bp-tablet: 768px;
$bp-mobile: 380px;
